@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-background-size: 100%;
    background-size: 100%;
    overflow-x: hidden;
}
*{
    word-break:break-all;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"],
/*input{-webkit-appearance:none; resize:none;outline:none;}*/
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
    display: block;
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family: '黑体'; color:#323232}
em,i{font-style:normal;}
strong{font-weight: normal;}
a{text-decoration:none; color:#222; font-family: '黑体';}
a:hover{ text-decoration:none;}

/* a:visited{color:#9a9a9a;} */
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: '黑体';}
img{border: none;}
input,textarea,button{
    border:none;
    outline:medium;
    resize:none;
}
html,body{
    width:100%;
    height:100%;
    background: #ebebeb;
}
/* 清除浮动 */
.ks-clear:after, .clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.ks-clear, .clearfix {
    *zoom: 1;
}
input,button,select,textarea{outline:none}
/*初始化end----------------------------*/